{% ckan_extends %}

{% block resource_actions_inner %}
    {{ super() }}

    {% if res.format == 'WMS' %}
        <li>
            <a class="btn btn-success" target="_blank"
             href="{{ h.get_tolomeo_config().get('base_url') }}/html/servizi/cerco/cerco.html?paramPreset={{ h.get_tolomeo_config().get('preset') }}&#38;url1={{ res.url}}&#38;lay1={{ res.name}}" >
              <i class="icon-external-link"></i>Personalizza la mappa
          </a>
        </li>
    {% elif res.format in ('TOLOMEO', 'TOLOMEO:preset', 'WEBGIS') %}
        <li>
            <a class="btn btn-success" target="_blank"
             href="{{ res.url}}" >
              <i class="icon-external-link"></i>Apri WEB GIS
          </a>
        </li>
    {% endif %}

{% endblock %}
